<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Concessionária Marquinhos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <div *ngIf="this.router.url === '/listagem'">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/listagem" routerLinkActive="active">Listar carros</a>
        </li>
      </div>
      <div *ngIf="this.router.url !== '/listagem'">
        <li class="nav-item">
          <a class="nav-link" routerLink="/listagem" routerLinkActive="active">Listar carros</a>
        </li>
      </div>

      <div *ngIf="this.router.url === '/adicionar'">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/adicionar" routerLinkActive="active">Adicionar carro</a>
        </li>
      </div>
      <div *ngIf="this.router.url !== '/adicionar'">
        <li class="nav-item">
          <a class="nav-link" routerLink="/adicionar" routerLinkActive="active">Adicionar carro</a>
        </li>
      </div>

    </ul>
  </div>
</nav>
